.services-content {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.service-list {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: sticky;
  top: 0;
}

.service-list > li {
  color: #7f8183;
  padding: 24px 0px;
  border-bottom: 1px dashed #c0cee6;
  cursor: pointer;
  padding-bottom: 24px;
}

.service-list > li:last-child {
  border-bottom: 0;
}
.service-list > li:first-child {
  padding-top: 0;
}

.service-list .selected_li {
  color: #2b5aa9;
  font-weight: 500;
  font-family: "SVN-Gilroy";
}

/* .preview {
  width: 90%;
} */

.sub-content {
  width: 90%;
}

.sub-content > h4 {
  font-size: 25px;
  margin: 50px 0 25px 0;
}

.sub-content > p {
  letter-spacing: 0.2px;
  color: #1e1e1f;
  line-height: 24px;
}
