.intro-product {
  padding-top: 80px;
}
.text-intro-product {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-bottom: 16px;
}
.infor-text-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #1e1e1f;
  width: 83%;
}

.search-product {
  padding: 48px 0 80px 0;
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  gap: 32px;
}

.search-btn {
  display: flex;
  flex: 1;
}

.search-btn > input {
  min-height: 40px;
  border: 1px solid #d9dbdd;
  background: #fdfdfd;
  padding: 10px;
  width: 100%;
}
.search-btn > input:focus-visible {
  border: 1px solid #d9dbdd;
  outline: 1px solid #d9dbdd;
}

.search-btn > img {
  padding: 12px 34px;
  cursor: pointer;
  background-color: #557bba;
}
.expand-box {
  position: relative;
}
.expand-box > ul {
  position: absolute;
  box-shadow: 0px 4px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.04);
  width: 100%;
  z-index: 2;
  background-color: #fff;
}
.expand-box > ul > li {
  padding: 10px 16px;
}
.expand-box > ul > li:hover {
  background-color: #f1f1f1;
  color: black;
}
.expand-option {
  display: none;
  z-index: 10;
}

.expand-btn {
  padding: 10px 16px;
  border: 1px solid #d9dbdd;
  display: flex;
  align-items: center;
  min-width: 232px;
  justify-content: space-between;
  color: #1e1e1f;
  cursor: pointer;
  z-index: 10;
}

.products-content {
  padding: 30px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(232px, 7fr));
  grid-gap: 2rem;
  justify-items: center;
}
.product-content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #1e1e1f;
  padding-top: 8px;
}

.box-goods {
  position: relative;
  display: inline-block;
  width: 232px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.04);
  cursor: pointer;
  box-shadow: 0px 4px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
}

.box-goods > div {
  font-weight: 500;
}
.contact-paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 80px 0;
}

.contact {
  padding: 16px 100px;
  text-transform: uppercase;
  color: #fff;
  background: #2b5aa9;
  cursor: pointer;
  padding: 12px 154px;
  font-weight: 600;
}
.contact:hover {
  background-color: #ffd500;
  color: #2b5aa9;
}

.paginator {
  display: flex;
  align-items: center;
  gap: 32px;
}

.paginator > span {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.paginator .selected_pag {
  background: #2b5aa9;
  color: #fff;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 250vh;
  top: 0;
  display: none;
}
