.contact-content {
  padding: 80px 0;
}

.contact-content .text-header-contact {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0.18px;
}

.contact-infor {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 32px 0;
  margin-bottom: 64px;
}

.contact-infor .contact-box {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.contact-infor .contact-box .text {
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #1e1e1f;
}

.contact-input {
  display: flex;
  /* gap: 122px; */
}

.get-infor {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 16px;
}

.get-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-input {
  display: flex;
  gap: 12px;
}

.top-input > input {
  width: 100%;
  min-height: 48px;
  padding: 12px 16px;
  border: 1px solid #d9dbdd;
  font-family: "Poppins", sans-serif !important;
}
.mid-input > textarea {
  width: 100%;
  min-height: 96px;
  padding: 12px 16px;
  border: 1px solid #d9dbdd;
  resize: none;
  font-family: "Poppins", sans-serif !important;
}

.mid-input > textarea::-webkit-scrollbar {
  display: none;
}
