@media (max-width: 1023px) {
  .hero-box-detail {
    right: initial;
    left: 30px;
  }
  .about-box {
    padding: 120px 60px;
  }
  .product-header {
    padding: 120px 100px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .hero-box-detail {
    right: initial;
    left: 60px;
    margin: auto;
  }
  .about-box {
    padding: 80px 60px;
    flex-direction: column;
  }
  .about-box-detail {
    text-align: center;
    width: 100%;
  }
  .about-box-img {
    text-align: center;
    width: 100%;
  }
  .servive-box-img .more-detail {
    bottom: 0;
    left: -0;
  }
  .servive-box-img {
    min-width: initial;
  }
  .service-box {
    padding: 80px 60px;
    flex-direction: column;
  }
  .service-box-detail {
    text-align: center;
  }
  .service-box-detail > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service-box-detail .selected_li {
    border: 0;
    font-weight: 600;
  }
  .servive-box-img {
    text-align: center;
  }
  .product-header {
    padding: 80px 60px;
  }
  .product-box {
    padding: 0 60px 80px 60px;
  }
  .product-detail {
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pagintor {
    display: none;
  }
  .page_ser {
    display: flex;
  }
  .box-product {
    flex: 1;
    height: 100%;
  }
  .box-product > img {
    width: initial;
  }
  .news-header > h3 {
    padding: 80px 60px;
  }
  .news-box {
    padding: 0 60px 80px 60px;
  }
  .contact-box {
    padding: 80px 60px;
  }
  .partners-box {
    padding: 80px 60px;
  }
  .video-box-detail > h3 {
    width: initial;
    gap: 15px;
  }
  .list-background {
    top: -125px;
    left: 150px;
  }
}

@media (max-width: 740px) {
  .header {
    padding: 10px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .nav-bar > ul {
    gap: 12px;
  }
  .hero-box-detail > h3 {
    font-size: 24px;
  }
  .about-box-detail > h3 {
    font-size: 24px;
  }
  .hero-box {
    height: 350px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .about-box {
    padding: 80px 16px;
    flex-direction: column;
    align-items: center;
  }
  .about-box-detail {
    width: initial;
  }
  .about-box-img > img {
    width: 95%;
  }
  .video-box {
    height: 220px;
    padding: 24px 0;
  }
  .video-box-detail {
    width: initial;
  }
  .service-box-detail > h3 {
    font-size: 24px;
  }
  .servive-box-img {
    min-width: initial;
  }
  .video-box-detail {
    gap: 0;
  }
  .video-box-detail > h3 {
    font-size: 20px;
    padding: 0 20px;
    width: initial;
  }
  .btn-video {
    height: 50px;
    width: 50px;
  }
  .service-box {
    padding: 40px 16px;
    flex-direction: column;
  }
  .servive-box-img > img {
    width: 100%;
    margin-top: 0;
  }
  .servive-box-img .more-detail {
    bottom: 10px;
    left: 18px;
    max-width: 200px;
  }
  .servive-box-img .more-detail > p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-header {
    padding: 60px 16px;
  }
  .product-header > h3 {
    font-size: 24px;
  }
  .product-box {
    padding: 0 16px;
    padding-bottom: 60px;
  }
  .box-product {
    height: auto;
    width: initial;
    flex: 1;
  }
  .box-product > img {
    height: 100px;
    width: 100px;
  }
  .product-detail {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .pagintor {
    display: none;
  }
  .news-header > h3 {
    padding: 40px 16px;
    padding-bottom: 0;
    font-size: 24px;
  }
  .news-box {
    padding: 40px 16px;
  }
  .news-detail .news-img .infor {
    bottom: 15px;
    left: 10px;
  }
  .news-detail {
    flex-direction: column;
  }
  .news-detail .newsss {
    width: 370px;
  }
  .contact-box {
    padding: 80px 16px;
    flex-direction: column;
  }
  .contact-text > h3 {
    font-size: 24px;
  }
  .contact-text {
    width: initial;
  }
  .partners-box {
    padding: 80px 16px;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
  }
}
