.about-contents {
  padding: 80px 0;
}
.about-contents > h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.18px;
  margin-bottom: 32px;
}

.about-contents > p {
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 80px;
}

.about-contents .text-about {
  color: #1f1f1f;
}

.about-contents .name-about {
  color: #2b5aa9;
  font-weight: 600;
}
#map {
  height: 380px;
  margin-bottom: 3em;
}
.time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.time-line-box {
  height: 100%;
  width: 100%;
  position: relative;
}

.time-line-box:hover > img {
  filter: initial;
  animation: blurImg ease-in-out 0.8s;
}

@keyframes blurImg {
  from {
    filter: blur(2px) brightness(50%);
  }
  to {
    filter: initial;
  }
}

.time-line-box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(50%);
}
.time-line-box:hover .text-timeline {
  /* display: none; */
  opacity: 0;
  animation: opacity ease-in-out 1s;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.text-timeline {
  position: absolute;
  top: 45%;
  z-index: 1;
  color: #fff;
  display: flex;
  gap: 60px;
  left: 50px;
  align-items: center;
  transform: translateY(-45%);
}
.years {
  font-size: 35px;
  font-weight: 600;
}
.text-years {
  width: 65%;
  font-size: 18px;
}
.achivement-about {
  display: flex;
  /* gap: 32px; */
  justify-content: space-between;
}

.achivement-box {
  max-width: 232px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

.achivement-box > p {
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 600;
  color: #2b5aa9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ---------------------------------------- */
.timeline {
  position: relative;
  margin: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background: #e0e0e0;
  z-index: -1;
  left: 50%;
  margin-left: -2px;
}
.timeline-milestone {
  position: relative;
  background: #2196f3;
  text-align: center;
  width: 70px;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
  overflow: hidden;
  left: 50%;
  margin-left: -35px;
}
