.news-detail-content {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.related-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.header-text {
  font-size: 36px;
}
.header-news-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-news-detail > span {
  line-height: 24px;
  letter-spacing: 0.2px;
}

.text-detail-news {
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1e1e1f;
}

.related-news {
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.news-related-list {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 7fr));
  grid-gap: 2rem; */
}

.news-detail-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  width: 100%;
  min-width: 232px;
  width: 232px;
}
.news-detail-box > a {
  text-align: left;
}
.news-detail-box > a > img {
  width: 100%;
  object-fit: cover;
  height: 160px;
}

.text-news-related {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.text-news-related > span {
  color: #7f8183;
}

.text-news-related > p {
  display: inline;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagintor {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
