@media (max-width: 1023px) {
  .related-news {
    padding: 80px 100px;
  }
  .news-related-list {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }
  .news-detail-content {
    padding: 80px 100px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .related-news {
    margin: 0 60px;
    padding: 0 0 80px 0;
  }
  .news-related-list {
    flex-wrap: initial;
    gap: 48px;
    justify-content: initial;
  }
  .news-detail-content {
    padding: 80px 60px;
  }
  .news-detail-box > a > img {
    width: 100%;
    height: 220px;
  }
  .news-detail-box {
    min-width: 326px;
    max-width: 326px;
  }
}

@media (max-width: 740px) {
  .news-detail-content {
    padding: 40px 10px;
  }
  .related-header {
    font-size: 24px;
    margin-bottom: 0;
  }
  .related-news {
    padding: 40px 10px;
  }
  .news-related-list {
    gap: 20px;
    display: flex;
    flex-wrap: initial;
    justify-content: flex-start;
  }
  .news-detail-box {
    /* max-width: 160px; */
    flex: 1;
    min-width: 370px;
    max-width: 370px;
    width: 370px;
  }
  .news-detail-box > a > img {
    width: 100%;
    height: auto;
  }
}
