@media (max-width: 1023px) {
  .news-content {
    padding: 80px 60px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .news-content {
    padding: 80px 60px;
  }
  .news-detail > ul > li {
    gap: 0;
  }
  .text_news {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 740px) {
  .news-content {
    padding: 60px 10px 20px 10px;
  }
  .news-detail {
    flex-direction: column;
  }
  .news-detail .news-img > img {
    height: 100%;
    width: 100%;
  }
  .news-detail .news-img .infor {
    bottom: 15px;
  }
  .news-detail .newsss {
    height: initial;
    width: initial;
  }
  .news-sub-content {
    gap: 15px;
  }
  .news-sub-content > a {
    width: 100px;
  }
  .news-sub-content > a > img {
    width: 100%;
    object-fit: cover;
  }
  .infor-news {
    flex: 1;
  }
  .infor-news > a {
    gap: 5px;
  }
  .infor-news > a > div {
    gap: 2px;
  }
  .date-news {
    font-size: 13px;
  }
  .title_news {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text_news {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .read-more-btn {
    font-size: 13px;
  }
}
